version: '3.4'

networks:
  frontend:
  backend:

services:
  catalog:
    image: events/catalogapi
    build:
      context: .\ServiceCatalogApi
      dockerfile: Dockerfile
    environment: 
      DatabaseServer: mssqlserver
      DatabaseName: ProductDb
      DatabaseUser: sa
      DatabasePassword: ProductApi(!)
      ExternalCatalogBaseUrl: http://localhost:7201
    ports:
      - "7200:80"
    container_name: eventscatalogapi
    networks:
      - backend
      - frontend
    depends_on:
      - mssqlserver

  mssqlserver:
    image: "microsoft/mssql-server-linux:latest"
    environment:
      ACCEPT_EULA: Y 
      SA_PASSWORD: ProductApi(!)
    ports:
      - "1600:1433"
    container_name: eventssqlserver
    networks:
      - backend

  tokenserver:
    build:
      context: .\TokenServiceApi
      dockerfile: Dockerfile
    image: events/tokenapi
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      MvcClient: http://localhost:5220
    ports:
      - "6500:80"
    container_name: tokeneventapi
    networks:
      - backend
      - frontend
    depends_on:
      - mssqlserver
  
  webmvc:
    build: 
      context: .\webmvc
      dockerfile: Dockerfile
    image: events/webmvc
    container_name: eventsweb
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      CatalogUrl: http://catalog
      IdentityUrl: http://192.168.0.27:6500
      CallBackUrl: http://localhost:5220
    ports:
      - "5220:80"
    networks:
      - frontend
    depends_on:
      - catalog



