@model int

@{
    ViewBag.Title = "Order Complete";
}
<h2>Registration Complete</h2>
<p>Thanks for registring! Your registration number is: @Model</p>
<p>
    How about looking for some more events on our
    <a asp-controller="Catalog" asp-action="Index">Website</a>
</p>